* {
    font-family: 'Nanum Pen Script', cursive;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("images/paper-background.jpg");
    background-size: 100%;
}
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    width: 100%;
    flex-direction: column;
}
#login-buttons {
    text-align: center;
}
#login-buttons > button {
    height: 30px;
    width: 100px;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgb(150, 150, 150);
    font-family: 'Edu SA Beginner', cursive;
}
#login-fields > input {
    height: 30px;
    width: 200px;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgb(150, 150, 150);
    border: none;
    border-radius: 5px;
    font-family: 'Edu SA Beginner', cursive;
    padding-left: 5px;
}
h1 {
    font-size: 64px;
    text-shadow: 3px 3px 3px rgb(150, 150, 150);
}
h2 {
    font-size: 64px;
    text-shadow: 3px 3px 3px rgb(150, 150, 150);
}
#home-content {
    display: flex;
    justify-content: space-between;
}
#topbar {
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vw 2vh 2vw;
}
#topbar {
    align-items: center;
}
#topbar > p {
    font-size: 25px;
    text-shadow: 1px 1px 1px rgb(150, 150, 150);
}
#sidebar {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 76vh;
    background-image: url("images/paper-background.jpg");
    background-size: 500%;
    padding-top: 15vh;
    align-items: baseline;
    box-shadow: 0px 0px 20px rgb(150, 150, 150);
}
#sidebar > button {
    color: black;
    font-size: 45px;
    border: none;
    background: none;
    padding-left: 2vw;
    text-shadow: 2px 2px 2px rgb(150, 150, 150);
}
#sidebar > button:hover {
    color: rgb(94, 94, 94);
}
button:hover {
    cursor: pointer;
}
.subpage {
    background-image: url("images/paper-background.jpg");
    background-size: 200%;
    box-shadow: 0px 0px 20px rgb(150, 150, 150);
    text-shadow: 2px 2px 2px rgb(150, 150, 150);
    font-size: 45px;
    width: 70vw;
    padding-top: 8vh;
    padding-right: 2vw;
    padding-left: 30px;
}
#subpage-compendium {
    display: flex;
}
#battle-page {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
#battle-container {
    display: flex;
    flex-direction: column;
}
#sprite-box {
    height: 500px;
    width: 750px;
    background-color: white;
}
#move-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}
.move {
    display: block;
    padding-top: 5px;
    height: 100px;
    width: 200px;
    background-color:rgb(150, 150, 150);
    font-size: 30px;
    font-family: 'Edu SA Beginner', cursive;
}
#mon-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.mon {
    background-color:rgb(101, 101, 101);
    height: 100px;
    width: 200px;
    font-size: 30px;
    font-family: 'Edu SA Beginner', cursive;
}
#log-container {
    background-color:rgb(185, 185, 185);
    height: 750px;
    width: 500px;
}
#compendium {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-top: 10px;
}
.monInfo {
    display: flex;
}
#compendium > button {
    color: black;
    font-size: 35px;
    border: none;
    background: none;
    padding-left: 2vw;
    text-shadow: 2px 2px 2px rgb(150, 150, 150);
}
#compendium > button:hover {
    color:rgb(94, 94, 94);
}
.monCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 490px;
    width: 400px;
    border: 2px solid;
    background-color:rgb(248, 248, 248);
    box-shadow: 0px 0px 20px rgb(150, 150, 150);
    padding: 15px;
    text-shadow: none;
    font-size: 40px;
    margin-left: 50px;
}
.monCard > div > img {
    width: 200px;
    height: 200px;
}
.img-stats-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-top: 25px;
}
.monType {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
}
.monStats {
    font-size: 30px;
}
.monMoves {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
}
#sprite-box {
    background-image: url("images/paper-background.jpg");
    background-size: 100%;
    border: 2px solid;
    box-shadow: 0px 0px 20px rgb(150, 150, 150);
}
#sprite-box > img {
    padding-left: 50px;
    padding-top: 50px;
    height: 300px;
    width: 300px;
}
#player1-mon {
    transform: scaleX(-1);
}
#tb-topbar {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 20px rgb(150, 150, 150);
}
#tb-topbar > div {
    display: flex;
    flex-direction: column;
}
#tb-topbar > div > img {
    height: 100px;
    width: 100px;
}
#tb-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}
#tb-botbar > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
}
#tb-botbar > div > button {
    color: black;
    font-size: 30px;
    border: none;
    background: none;
    padding-left: 2vw;
    text-shadow: 2px 2px 2px rgb(150, 150, 150);
}
#tb-botbar > div > button:hover {
    color: rgb(94, 94, 94);
}
.tbStats {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 15px;
    padding-left: 30px;
}
.tbMoveStats {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 15px;
    padding-left: 30px;
}